.todoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #d5cece;
  background-color: #24273d;
  padding: 0.5rem;
  border: 1px solid #363a57;
  border-radius: 5px;
  margin-top: 10px;
  letter-spacing: 1px;
  h6 {
    cursor: pointer;
    color: pink;
  }
}
