.todoListContainer {
  width: 100%;
  p {
    color: #d5cece;
    margin: 2rem 0.4rem;
  }
  .status {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 0.9rem;
    color: #b1b3b0;
    margin: 20px 0 20px;
  }
}

.actionsContainer {
  display: flex;
  justify-content: center;
}
