form {
  width: 100%;
  gap: 10px;
  display: flex;
  input {
    background-color: #24273d;
    color: #9b9ebf;
    font-size: 1.1rem;
    border-radius: 5px;
    outline: none;
    padding: 1rem 4rem;
    text-align: center;
    border: 1px solid #363a57;
    width: 100%;
  }
}
