.todoActionsContainer {
  display: flex;
  gap: 10px;
  padding-top: 17px;
  padding-bottom: 7px;
}

.button {
  background-color: #20202f;
  border: 1px solid #343754;
  color: #c8cae1;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #666a93;
}
