$completedTaskColor: #afe08b;

.todoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #d5cece;
  background-color: #24273d;
  padding: 0.5rem;
  border: 1px solid #363a57;
  border-radius: 5px;
  margin-top: 10px;
  letter-spacing: 1px;
  .task {
    max-width: 320px;
    font-weight: 400;
  }
  .completedTask {
    text-decoration: line-through;
    color: $completedTaskColor;
    font-weight: 400;
  }
  h6 {
    cursor: pointer;
    color: pink;
  }
  .taskWrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
  }
  .todoIcon {
    color: #c5bebe;
  }
  .completedtodoIcon {
    color: $completedTaskColor;
  }
  .deleteIcon {
    color: #c5bebe;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .deleteIcon:hover {
    color: #d28ed4;
    transform: scale(1.1);
  }
  .completeIcon {
    color: #c5bebe;
    transition: all 0.2s ease-in-out;

    cursor: pointer;
  }
  .completeIcon:hover {
    color: $completedTaskColor;
    transform: scale(1.1);
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}

.todoWrapper:hover {
  background-color: #2b2e48;
}
