.btnAdd {
  background: #581c8e;
  background: linear-gradient(0deg, #581c8e, #954dd6);
  border: 0;
  color: #c8cae1;
  font-size: 1.1rem;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}
